version: '3'
services:
  app:
    build: .
    container_name: projeto-commerce
    environment:
      - DATABASE_URL=postgresql://postgres:senha-forte63312167@db:5432/commerce
      - JWT_SECRET=aqui_eu_coloco_um_segredo_para_gerar_os_tokens?que_segredo_e_esse?
      - NODE_ENV=development
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:14.21-trixie
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: commerce
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: